.header {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.header-name {
    align-items: center;
    color: cornflowerblue;
    font-size: 20px;
    cursor: pointer;
}

.logo {
    font-size: 30px;
}

.container {
    padding: 10px;
    background: #f5f6f7;
    height: calc(100vh - 60px);
}

.aside {
    padding: 15px;
    width: 250px;
    background: white;
    margin-right: 10px;
}

.main {
    position: relative;
    background: #ffffff;
    overflow-y: visible;
}

.post-button {
    width: 100%;
}

.footer {
    margin-top: 10px;
    background: white;
    text-align: center;
    font-size: 15px;
}
